.imagensita {
    transition: all .4s ease;
}

.imagensita:hover {
    transform: translateY(-1rem);
}

/* .card-auxi {
    background: rgb(70, 128, 255);
    border-bottom: 2px solid rgb(70, 128, 255);
    border-right: 2px solid rgb(70, 128, 255);
    border-top: 2px solid white;
    border-left: 2px solid white;
    background: linear-gradient(100deg, rgb(171, 196, 250) 50%, rgba(255, 255, 255, 1) 50%);
} */